<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="market" />
        </intent>
    </queries>

    <application
        android:name=".AeryoApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Aeryo Browser"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aeryo"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="net.zzbuaoye.aeryo.DISPLAY_VERSION"
            android:value="${aeryoDisplayVersion}" />
        <meta-data
            android:name="net.zzbuaoye.aeryo.CHANNEL"
            android:value="${aeryoChannel}" />
        <meta-data
            android:name="net.zzbuaoye.aeryo.BUILD_LABEL"
            android:value="${aeryoBuildLabel}" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/aeryo_file_paths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".launcher.DefaultIconAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="Aeryo Browser"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".launcher.FlameIconAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/aeryo_launcher_flame"
            android:roundIcon="@drawable/aeryo_launcher_flame"
            android:label="Aeryo Browser"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <!-- Kept disabled for upgrades from builds that used this component name. -->
        <activity-alias
            android:name=".launcher.FirefoxIconAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/aeryo_launcher_flame"
            android:roundIcon="@drawable/aeryo_launcher_flame"
            android:label="Aeryo Browser"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".launcher.AuroraIconAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/aeryo_launcher_aurora"
            android:roundIcon="@drawable/aeryo_launcher_aurora"
            android:label="Aeryo Browser"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".launcher.SunsetIconAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/aeryo_launcher_sunset"
            android:roundIcon="@drawable/aeryo_launcher_sunset"
            android:label="Aeryo Browser"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".launcher.OceanIconAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/aeryo_launcher_ocean"
            android:roundIcon="@drawable/aeryo_launcher_ocean"
            android:label="Aeryo Browser"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>
